In [48]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
pd.set_option('display.max_columns',None)

In [49]:
df= pd.read_csv('USA_Housing.csv')

In [50]:
df.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

In [51]:
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Avg. Area Income              5000 non-null   float64
 1   Avg. Area House Age           5000 non-null   float64
 2   Avg. Area Number of Rooms     5000 non-null   float64
 3   Avg. Area Number of Bedrooms  5000 non-null   float64
 4   Area Population               5000 non-null   float64
 5   Price                         5000 non-null   float64
 6   Address                       5000 non-null   object
dtypes: float64(6), object(1)
memory usage: 273.6+ KB
None
       Avg. Area Income  Avg. Area House Age  Avg. Area Number of Rooms  \
count       5000.000000          5000.000000                5000.000000
mean       68583.108984             5.977222                   6.987792
std        10657.991214             0.991456                   1.005833
min        17796.631190             2.644304                   3.236194
25%        61480.562388             5.322283                   6.299250
50%        68804.286404             5.970429                   7.002902
75%        75783.338666             6.650808                   7.665871
max       107701.748378             9.519088                  10.759588

       Avg. Area Number of Bedrooms  Area Population         Price
count                   5000.000000      5000.000000  5.000000e+03
mean                       3.981330     36163.516039  1.232073e+06
std                        1.234137      9925.650114  3.531176e+05
min                        2.000000       172.610686  1.593866e+04
25%                        3.140000     29403.928702  9.975771e+05
50%                        4.050000     36199.406689  1.232669e+06
75%                        4.490000     42861.290769  1.471210e+06
max                        6.500000     69621.713378  2.469066e+06

In [69]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, KFold,cross_val_score
from sklearn.linear_model import LassoCV, Lasso
from sklearn.metrics import accuracy_score
from sklearn.feature_selection import SelectFromModel

In [53]:
X = df.drop(labels=['Address','Price'], axis=1)
y = df['Price']

Std_scaler = StandardScaler()
Std_scaler.fit_transform(X)

array([[ 1.02865969, -0.29692705,  0.02127433,  0.08806222, -1.31759867],
       [ 1.00080775,  0.02590164, -0.25550611, -0.72230146,  0.40399945],
       [-0.68462916, -0.11230283,  1.5162435 ,  0.93084045,  0.07240989],
       ...,
       [-0.48723454,  1.28447022, -2.17026949, -1.50025059, -0.29193658],
       [-0.05459152, -0.44669439,  0.14154061,  1.18205319,  0.65111608],
       [-0.28831272,  0.01521477, -0.19434166,  0.07185495,  1.04162464]])

In [54]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.70, random_state=42)

In [68]:
alpha = [0.2,5,10,100,1000]
outcome = []
for i in alpha:
    model = Lasso(alpha=i,normalize=True)
    model.fit(X_train,y_train)
    cross_score = cross_val_score(model,X_train,y_train, cv=10)
    print(i, cross_score.mean())
    
for i in alpha:
    fold = 0
    kf =KFold(n_splits=10)
    clf = Lasso(alpha=i, normalize=True)
    print(kf.get_n_splits(X_train))
    for train_index, test_index in kf.split(X_train):
        fold += 1
        X_KFtrain,X_KFtest = X_train.values[train_index], X_train.values[test_index]
        y_KFtrain,y_KFtest = y_train.values[train_index], y_train.values[test_index]
        clf.fit(X_KFtrain, y_KFtrain)
        preds = clf.predict(X_KFtest)
        accur_score = clf.score(X_KFtest, y_KFtest)
        print("for fold {} accuracy is {}".format(fold, accur_score))
        outcome.append(accur_score)
    print("Mean Accuracy for alpha {} is {} ".format(i,np.mean(outcome)))

0.2 0.9203329396453619
5 0.9203425556190001
10 0.9203443251592331
100 0.9200610275522466
1000 0.8799797218609298
10
for fold 1 accuracy is 0.9149620703389357
for fold 2 accuracy is 0.9179740766175635
for fold 3 accuracy is 0.9124763825029147
for fold 4 accuracy is 0.9198696422638394
for fold 5 accuracy is 0.9330529617359891
for fold 6 accuracy is 0.9114663837218855
for fold 7 accuracy is 0.905078691954498
for fold 8 accuracy is 0.9277957724233118
for fold 9 accuracy is 0.9269641667699355
for fold 10 accuracy is 0.9336892481247464
Mean Accuracy for alpha 0.2 is 0.9203329396453619
10
for fold 1 accuracy is 0.9151315867711134
for fold 2 accuracy is 0.9180800723716341
for fold 3 accuracy is 0.9124522629443093
for fold 4 accuracy is 0.919775475776901
for fold 5 accuracy is 0.9330414227149849
for fold 6 accuracy is 0.9115142765690347
for fold 7 accuracy is 0.9050527524947868
for fold 8 accuracy is 0.9277981409497575
for fold 9 accuracy is 0.9269225286511522
for fold 10 accuracy is 0.9336570369463276
Mean Accuracy for alpha 5 is 0.920337747632181
10
for fold 1 accuracy is 0.9153055567141449
for fold 2 accuracy is 0.9181881400631222
for fold 3 accuracy is 0.9124249521949421
for fold 4 accuracy is 0.9196759306423188
for fold 5 accuracy is 0.9330268910749624
for fold 6 accuracy is 0.911501378269247
for fold 7 accuracy is 0.9050234793561329
for fold 8 accuracy is 0.9277983635966932
for fold 9 accuracy is 0.9268775665123334
for fold 10 accuracy is 0.933620993168434
Mean Accuracy for alpha 10 is 0.9203399401411984
10
for fold 1 accuracy is 0.9180025612486413
for fold 2 accuracy is 0.9197449048936084
for fold 3 accuracy is 0.9116810872794388
for fold 4 accuracy is 0.917666670594597
for fold 5 accuracy is 0.9325574008850734
for fold 6 accuracy is 0.9109219732870748
for fold 7 accuracy is 0.9041677826488393
for fold 8 accuracy is 0.9274026186578788
for fold 9 accuracy is 0.9257722441672714
for fold 10 accuracy is 0.9326930318600447
Mean Accuracy for alpha 100 is 0.9202702119939603
10
for fold 1 accuracy is 0.8975882005935133
for fold 2 accuracy is 0.8928986869343135
for fold 3 accuracy is 0.8686853122845247
for fold 4 accuracy is 0.8651047951652681
for fold 5 accuracy is 0.8916888796539599
for fold 6 accuracy is 0.8689416012990795
for fold 7 accuracy is 0.85774104978127
for fold 8 accuracy is 0.8878459969056348
for fold 9 accuracy is 0.8818512697356686
for fold 10 accuracy is 0.8874514262560642
Mean Accuracy for alpha 1000 is 0.9122121139673542